# 함수

## 환전 등록

In [ ]:
!pip install sqlalchemy

In [ ]:
df['NO_E'] = range(1, len(df)+1)
    df = df.set_index('NO_E')
    (DATE_E, TYPE_E, BEFORE_E, AFTER_E, RATE_E)

In [5]:
# 환전 내역을 등록할 함수
def insert_e(date_e, type_e, before_e, after_e, rate_e):
    sql = "insert into exchange(date_e, type_e, before_e, after_e, rate_e) values(:1, :2, :3, :4, :5)"
    cursor.execute(sql, [date_e, type_e, before_e, after_e, rate_e])
    print()
    print("환전 내역이 등록되었습니다.")
    conn.commit()

In [ ]:
# 작성내역 조회 (1.환전)
def insert_e(date_e, type_e, before_e, after_e, rate_e):
    import pandas as pd
    import cx_Oracle as cx
    conn = cx.connect("scott", "1234", "localhost:1521/xe")

    query = "insert info exchange values(:1, :2, :3, :4, :5, :6)"
    cursor.execute(query, [no_e, date_e, type_e, before_e, after_e, rate_e])
    df = pd.read_sql(query, con=conn)
    
    df['NO_E'] = range(1, len(df)+1)
    df = df.set_index('NO_E')
    
    print(df)

## 지출 등록

In [ ]:
# 지출 내역을 등록할 함수
def insert_s(date_s, type_s, cate, details, expense):
    sql = "insert into spend values (:1, :2, :3, :4, :5)"
    cursor.execute(sql, [date_s, type_s, cate, details, expense])
    print()
    print("지출 내역이 등록되었습니다.")
    conn.commit()

In [ ]:
# 작성 내역 조회(1. 환전내역)
def listE():
    cursor.execute("select * from exchange")
    result = cursor.fetchall()
    
    if len(result) == 0:
        print("등록된 내역이 없습니다.")
    else:
        for index, row in enumerate(result, start = 1):
            print()
            print(f"{index} : {row}", end = '')

In [ ]:
# 작성 내역 조회(2. 지출내역)
def listS():
    cursor.execute("select * from spend")
    result = cursor.fetchall()
    
    if len(result) == 0:
        print("등록된 내역이 없습니다.")
    else:
        for row in result:
            print()
            print(row, end = '')

## 조회1 (환전)

In [3]:
import pandas as pd
import cx_Oracle as cx
from sqlalchemy import create_engine
engine = create_engine('oracle+cx_oracle://scott:1234@localhost:1521/xe') 
#conn = cx.connect("scott", "1234", "localhost:1521/xe")
#cursor = conn.cursor()

def Liste():
    query = "select * from exchange"
    df = pd.read_sql(query, engine)
    
    df['no_e'] = range(1, len(df)+1)
    df = df.set_index('no_e')
    
    engine.execute("delete from exchange")
    
    df.to_sql("exchange", engine , if_exists='append')
    
    print(df)

In [23]:
import pandas as pd
import cx_Oracle as cx
from sqlalchemy import create_engine
engine = create_engine('oracle+cx_oracle://scott:1234@localhost:1521/xe') 
conn = cx.connect("scott", "1234", "localhost:1521/xe")
cursor = conn.cursor()

def Liste():
    query = "select * from exchange"
    df = pd.read_sql(query, engine)
    
    df['no_e'] = range(1, len(df)+1)
    df = df.set_index('no_e')
    
    select_row = df['no_e']
    
    #query_2 = "delete from exchange"
    #cursor.execute(query_2)
    
    select_row.to_sql("exchange", engine , if_exists='append')
    
    print(select_row)

In [27]:
    query = "select * from exchange"
    df = pd.read_sql(query, engine)
    
    df['NO_E'] = range(1, len(df)+1)
    df = df.set_index('NO_E')
    
    select_row = df['NO_E']
    
    #query_2 = "delete from exchange"
    #cursor.execute(query_2)
    
    select_row.to_sql("exchange", engine , if_exists='append')
    
    print(select_row)

KeyError: 'NO_E'

In [25]:
Liste()

KeyError: 'no_e'

In [ ]:
def Liste():
    # 특정 행을 선택하거나 조건을 적용하여 데이터를 필터링합니다.
    selected_row = df[df['your_condition_here']]
    
    # 필터링된 데이터를 데이터베이스에 저장합니다.
    selected_row.to_sql('exchange', engine, if_exists='append', index=False)

    print(selected_row)

In [22]:
    query = "select * from exchange"
    df = pd.read_sql(query, engine)
    
    df['no_e'] = range(1, len(df)+1)
    df = df.set_index('no_e')
    
    query_2 = "delete from exchange"
    cursor.execute(query_2)
    conn.commit()
    
    # df.to_sql("exchange", engine , if_exists='append')
    
    print(df)

Empty DataFrame
Columns: [date_e, type_e, before_e, after_e, rate_e]
Index: []

In [ ]:
# 모듈 불러오기
import pandas as pd
#import cx_Oracle as cx
#conn = cx.connect("scott", "1234", "localhost:1521/xe")

In [ ]:
# 자원 닫기
def close():
    cursor.close()
    conn.close()

In [ ]:
import pandas as pd
import cx_Oracle
from sqlalchemy import create_engine

engine = create_engine('oracle+cx_oracle://scott:1234@localhost:1521/xe')

# df.to_sql('exchange', engine , if_exists='replace', index=True)

In [ ]:
# 작성내역 조회 (1.환전)
def Liste():
    query = "select * from exchange"
    df = pd.read_sql_query(query, engine)
#    df = pd.read_sql(query, con=conn)
    
    df['NO_E'] = range(1, len(df)+1)
    df = df.set_index('NO_E')
    
    df.to_sql('exchange', engine , if_exists='replace', index=True)
    
    print(df)

In [ ]:
Liste()

In [ ]:
# 작성내역 인덱스 저장 (1.환전)
def Liste_e():
    import pandas as pd
    import cx_Oracle as cx
    conn = cx.connect("scott", "1234", "localhost:1521/xe")

    query = "select * from exchange"
    df = pd.read_sql(query, con=conn)
    
    df['NO_E'] = range(1, len(df)+1)
    df = df.set_index('NO_E')
    df.to_sql('exchange', conn, if_exists='replace', index=True)

In [ ]:
# 업데이트
def index_e(no_e):
    sql = "insert into exchange(no_e) values (:1)"
    cursor.execute(sql, [no_e])
    conn.commit()

In [ ]:
df.to_sql('exchange', conn, if_exists='replace', index=False)

## 조회2 (지출)

In [ ]:
# 작성내역 조회 (2.지출)
def Lists():
    import pandas as pd
    import cx_Oracle as cx
    conn = cx.connect("scott", "1234", "localhost:1521/xe")

    query = "select * from spend"
    df = pd.read_sql(query, con=conn)#, index_col='NO_E')
    
    df['NO_S'] = range(1, len(df)+1)
    df = df.set_index('NO_S')
    
    print(df)

In [ ]:
# 총 지출 금액
def sum_S():
    import pandas as pd
    import cx_Oracle as cx
    conn = cx.connect("scott", "1234", "localhost:1521/xe")

    sum_query = "select sum(expense) from spend"
    sum_s = pd.read_sql(sum_query, con=conn)
    return(sum_s)

In [ ]:
print(sum_S())

### 총 지출 금액

In [ ]:
def Sum_s():
    cursor.execute("select sum(expense) from spend")
    result = cursor.fetchone()
    return(result[0])

In [ ]:
print(Sum_s())

## 삭제1 (환전)

In [ ]:
# 작성 내역 삭제(환전 내역)
def delete_e(no_e):
    sql = "delete from exchange where no_e = :1"
    cursor.execute(sql, [no_e])
    print("회원정보가 삭제되었습니다.")
    conn.commit()

### 인덱스 조회

In [ ]:
#id체크
def no_e_check(no_e):
    sql = "select * from exchange"
    cursor.execute(sql)
    
    sw = 0  # 스위칭 변수, 0(회원없음) 1(회원있음)
    for row in cursor:
        if row[0] == no_e:
            sw = 1
            
    return sw

In [ ]:
# 총 지출 금액

import cx_Oracle as cx

conn = cx.connect("scott", "1234", "localhost:1521/xe")
cursor = conn.cursor()

sql = "select expense from spend"
result = cursor.fetchall()
    
tot = 0
for row in result:
    tot += row
print(tot)

In [ ]:
import pandas as pd
#import cx_Oracle as cx
#conn = cx.connect("scott", "1234", "localhost:1521/xe")
import sqlite3
con = sqlite3.connect('exchange')


query = "select * from exchange"
df = pd.read_sql(query, con=conn)#, index_col='NO_E')
print(df)

In [ ]:
df

In [ ]:
df['NO_E'] = range(1, len(df)+1)
df

In [ ]:
df = df.set_index('NO_E')

df
# conn.commit()

In [ ]:
df

In [ ]:
import sqlite3
con = sqlite3.connect('exchange')

df.to_sql('exchange', con, if_exists='replace')

In [ ]:
df.reset_index(drop=True)
df

In [ ]:
df.NO_E = range(1, len(df)+1)
df

In [ ]:
df.NO_E = range(1, len(df)+1)
df

In [ ]:
df.index = range(len(df))
df

In [ ]:
df.NO_E = range(len(df))
df

In [ ]:
df

In [ ]:
df.NO_E = range(1, len(df)+1)
df

In [ ]:
import pandas as pd
import cx_Oracle as cx
conn = cx.connect("scott", "1234", "localhost:1521/xe")

query = "select * from spend"
df = pd.read_sql(query, con=conn, index_col='NO_S')
df.reset_index(inplace=True)
print(df)

In [ ]:
print(df)
print(sum_s)

In [ ]:
import pandas as pd
import cx_Oracle as cx
conn = cx.connect("scott", "1234", "localhost:1521/xe")

sum_query = "select sum(expense) from spend"
sum_s = pd.read_sql(sum_query, con=conn)
print(sum_s)

In [ ]:
sum_s

# main process

In [6]:
#### 모듈 포함
# from project import *

import cx_Oracle as cx

conn = cx.connect("scott", "1234", "localhost:1521/xe")
cursor = conn.cursor()


while True:
    print()
    print("====== 여행가계! ======")
#     print()
#     country = input("여행 국가 : ")
#     print()
    print("1. 환전")
    print("2. 지출")
    print("3. 삭제")
    print("4. 조회")
    print("5. 종료")
    print("=" * 20)
    menu = int(input("메뉴 = "))
    
    if menu == 1:
        print()
        
        date_e = input('일자(형식:YYYY-MM-DD) = ')
        
        while True:
            type_e = int(input('형식(1.은행 2.카드 3.ATM 4.사설환전소) = '))
            if type_e in [1, 2, 3, 4]:
                break
            else:
                print("선택이 올바르지 않습니다.")
        
        before_e = eval(input('KRW(한화) = '))
        after_e = eval(input('외화 = '))
        rate_e = round(before_e / after_e, 2)

        insert_e(date_e, type_e, before_e, after_e, rate_e)
        
    elif menu == 2:
        print()
        # no_s = int(input('no = '))
        date_s = input('일자(형식:0000-00-00) = ')
         
        while True:
            type_s = int(input('형식(1.카드 2.현금 3.QR코드) = '))
            if type_s in [1, 2, 3]:
                break
            else:
                print("선택이 올바르지 않습니다.")
                
        cate = input('카테고리 = ')
        details = input('세부 내역 = ')
        expense = eval(input('지출 금액 = '))
        
        insert_s(date_s, type_s, cate, details, expense)
    
    elif menu == 3:
        no_e = int(input('순번 = '))

        if no_e_check(no_e):
            delete(no_e)
            print("내역이 삭제되었습니다.")
    
    elif menu == 4:
        print()
        serch = int(input("1.환전조회 2.지출조회 : "))
        print()
        if serch == 1:
            Liste()
        elif serch == 2:
            Lists()
            print(f"\n총 지출 금액 : {Sum_s()}원")
        else:
            print("선택이 올바르지 않습니다.")
    
    elif menu == 5:
        break
        
    else:
        print("메뉴의 선택이 올바르지 않습니다.")
    
        
print("프로그램을 종료합니다.")

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 1

일자(형식:YYYY-MM-DD) = 2021-04-01
형식(1.은행 2.카드 3.ATM 4.사설환전소) = 1
KRW(한화) = 8800
외화 = 300

환전 내역이 등록되었습니다.

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 4

1.환전조회 2.지출조회 : 1

         date_e type_e  before_e  after_e  rate_e
no_e
1    2021-04-01      1      8800      300   29.33

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 1

일자(형식:YYYY-MM-DD) = 2023-02-21
형식(1.은행 2.카드 3.ATM 4.사설환전소) = 3
KRW(한화) = 30000
외화 = 100

환전 내역이 등록되었습니다.

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 4

1.환전조회 2.지출조회 : 1

         date_e type_e  before_e  after_e  rate_e
no_e
1    2021-04-01      1      8800      300   29.33
2    2023-02-21      3     30000      100  300.00

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 1

일자(형식:YYYY-MM-DD) = 2022-12-25
형식(1.은행 2.카드 3.ATM 4.사설환전소) = 1
KRW(한화) = 600000
외화 = 50000

환전 내역이 등록되었습니다.

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 4

1.환전조회 2.지출조회 : 1

         date_e type_e  before_e  after_e  rate_e
no_e
1    2021-04-01      1      8800      300   29.33
2    2023-02-21      3     30000      100  300.00
3    2022-12-25      1    600000    50000   12.00

====== 여행가계! ======
1. 환전
2. 지출
3. 삭제
4. 조회
5. 종료
====================
메뉴 = 5
프로그램을 종료합니다.