# 표준 입력함수 : input()

- 파이썬에서 기본적으로 데이터를 키보드로 입력할 때 사용하는 함수 : 콘솔(console) 환경
- input함수는 입력되는 모든 것을 문자열로 취급한다.
- 형식 : 변수 = input()

In [1]:
# '=' 연산자의 연산방향은 오른쪽에서 왼쪽이다. x = 9
# '+' 연산자의 연산방향은 좌에서 우다. 10 + 3
a = input()
print(a)

hello
hello

In [2]:
# input(message)
b = input("숫자입력 : ")
print("입력받은 숫자 : ", b)

숫자입력 : 123
입력받은 숫자 :  123

In [4]:
# 반지름을 입력받아 원의 면적과 둘레를 계산하는 프로그램을 구현하시오.

## 선언문 = 초기화(변수의 처음값을 담는 역할을 수행하는 문장)
pi = 3.14

## 입력문
r = int(input("반지름 : "))  # 문자열로 취급하기때문에 정수형으로 변환

## 처리문

## 출력문
print("원의 둘레 : ", 2 * pi * r)
print("원의 면적 : ", r * r * pi)

반지름 : 5
원의 둘레 :  31.400000000000002
원의 면적 :  78.5

In [8]:
# 두 개의 숫자를 입력받아 합과 곱을 출력하는 프로그램을 구현하시오.

## 입력문
su1 = int(input('첫번째 숫자 : '))
su2 = int(input('두번째 숫자 : '))

## 처리문
hap = su1 + su2
gob = su1 * su2

## 출력문
print("합 : ", hap)
print("곱 : ", gob)

첫번째 숫자 : 3
두번째 숫자 : 8
합 :  11
곱 :  24

## 여러 값을 한번에 입력받는 함수
- split() : 특정 문자를 기준으로 문자열을 잘라내는 함수
- map() : map(변환함수, 반복가능한 객체)

In [9]:
num = input()
print(num)

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [10]:
# split() 함수의 기본은 공백을 기준으로 잘라낸다.
num = input().split()
print(num)  # 리스트 자료형에 담아서 반환한다.

1 2 3 4 5 6 7 8 9 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
num = map(int, input().split())  # map 객체로 반환된다(주소반환).
print(num)

1 2 3 4 5
<map object at 0x0000025FFEF52070>

In [12]:
# list(리스트)는 1차원 배열을 의미하는 자료형으로 R에서 Vector형식을 갖는다.
num = list(map(int, input().split()))
print(num)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [13]:
# 함수의 도움말을 확인할 때 help()
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

# 표준 출력함수 : print()

- 기본형 : print("출력내용")
- print(a, b, c)

## 형식화된 문자열을 이용한 출력

- 형식 : 형식화된 문자열. foramt(변수)

In [14]:
x = 9
print(x)
print("x = ", x)

9
x =  9

In [17]:
print("정수1 : {0}".format(x))
print("결과 : {}".format(3**5))
print("덧셈 : {0}, 곱셈 : {1}".format(x+x, x*x))

정수1 : 9
결과 : 243
덧셈 : 18, 곱셈 : 81

In [20]:
name = '홍길동'
age = 23
gender = 'M'

In [19]:
print("홍길동님의 나이는 23세이고 성별은 남자입니다.")

홍길동님의 나이는 23세이고 성별은 남자입니다.

In [25]:
print("%s님의 나이는 %d세이고 성별은 %c입니다." %(name, age, gender))

홍길동님의 나이는 23세이고 성별은 M입니다.

In [26]:
x = 8.3 / 2.7
x

3.074074074074074

In [27]:
print("결과 : %f" %x)  # f : 소수점 여섯째자리까지 출력

결과 : 3.074074

In [28]:
print("결과 : %.2f" %x)  # 2f : 소수점자리 둘째자리까지 출력

결과 : 3.07

In [30]:
a = 10
b = 20

print("a = {}, b = {}".format(a, b))
print("a = {0}, b = {1}".format(a, b))

a = 10, b = 20
a = 10, b = 20

In [31]:
print("a = {1}, b = {0}".format(b, a))

a = 10, b = 20

In [32]:
# 형식화된 문자열.foramt()
print("실수 1 : {0:.3f}".format(8.3 / 2.7))

실수 1 : 3.074

In [37]:
y = 2.5 * 4.8
print("실수값 : {0:5.2f}".format(y))

실수값 : 12.00

In [41]:
print("실수 1 : {}".format(8.3 / 2.7))
print("실수 1 : {0}".format(8.3 / 2.7))
print("실수 1 : {0:.3f}".format(8.3 / 2.7))
print("실수 1 : {0:.1f}".format(8.3 / 2.7))
print("실수 1 : {0:.2f}".format(8.3 / 2.7))
print("실수 1 : {0:.4f}".format(8.3 / 2.7))
print("실수 1 : {0:10.4f}".format(8.3 / 2.7))

실수 1 : 3.074074074074074
실수 1 : 3.074074074074074
실수 1 : 3.074
실수 1 : 3.1
실수 1 : 3.07
실수 1 : 3.0741
실수 1 :     3.0741

## 서식기호를 이용한 출력

In [42]:
# %s : 문자열
# %c : 문자
# %d : 정수
# %f : 실수

num = 12
print("현재 시간은 %d입니다." % num)

현재 시간은 12입니다.

In [43]:
hour = 14
minute = 17
print("현재 시간은 %d시 %d분입니다." % (hour, minute))

현재 시간은 14시 17분입니다.

In [45]:
name = "길동"
height = 180
weight = 78.5
print("%s님의 키는 %d이고, 몸무게는 %.2f입니다." % (name, height, weight))

길동님의 키는 180이고, 몸무게는 78.50입니다.

In [47]:
# 서식지정자(%)와 서식기호 사이에 숫자는 자리수를 의미한다.
## 기본적으로 숫자는 오른쪽 정렬 : 정렬(양수와 음수)
print("숫자 출력 %10d" % 100)
print("숫자 출력 %10d" % 10000)
print("숫자 출력 %-10d" % 10000)

숫자 출력        100
숫자 출력      10000
숫자 출력 10000

In [48]:
print("{name} is {job}".format(name = 'John', job = "programmer"))

John is programmer

In [49]:
# 파이썬 3.6부터는 문자열 포매팅에 변수를 그래도 사용할 수 있다.
# 문자열 앞에 문자열 포매팅이라는 의미로 f를 붙여준다.
name = 'John'
job = "studying"
print(f'{name} is {job}')

John is studying

In [55]:
# 문자 정렬은 기본이 왼쪽 정렬이다.
# 인덱스뒤에 :>(숫자)

print('{0}'.format('hi'))
print('{0:10}'.format('hi'))
print('{0:>10s}'.format('hi'))  # > : 오른쪽 정렬
print('{0:<10s}'.format('hi'))  # < : 왼쪽 정렬
print('{0:^10s}'.format('hi'))  # ^ : 가운데 정렬
print('{0:=^10s}'.format('hi'))  # = : 빈공간을 '='로 채우기

hi
hi
        hi
hi
    hi
====hi====

In [56]:
x = 4.2
print(f"{x:10.3f}")

     4.200

In [57]:
# swqp : 자리바꿈
x = 100
y = 200
print("x = %d, y = %d" % (x, y))

# 변수는 하나의 값을 담는 기억공간, 새로운 값이 들어오면 그전값은 지워진다.
temp = x
x = y
y= temp
print("x = %d, y = %d" % (x, y))

x = 100, y = 200
x = 200, y = 100

In [58]:
# swqp : 자리바꿈
x = 100
y = 200
print("x = %d, y = %d" % (x, y))

x, y = y, x  # x , y = (y, x)
print("x = %d, y = %d" % (x, y))

x = 100, y = 200
x = 200, y = 100

In [59]:
# 파이썬의 자료구조 : 리스트, 튜플, 집함(셋), 딕셔너리, 데이터프레임
# 자료구조 : 하나 이상의 데이터를 담아서 관리하는 공간

## 패킹(packing)과 언패킹(unpacking)

x = 1, 2, 3, 4, 5  # 패킹 : 여러개의 변수를 하나의 값으로 묶음. x = (1, 2, 3, 4, 5), tuple
x

(1, 2, 3, 4, 5)

In [61]:
a, b, c, d, e = x  # 언패킹
print(a, b, c, d, e)

1 2 3 4 5

In [62]:
x1, x2, x3 = x
print(x1, x2, x3)

ValueError: too many values to unpack (expected 3)

In [66]:
# 두 개의 정수를 입력받아 샃칙연산의 결과를 출력하는 프로그램을 구현하시오.

## 입력형식
## 숫자 = 10 20

## 출력형식
## 10 + 20 = 30
## 10 - 20 = -10
## 10 * 20 = 300
## 10 / 20 = 0.5

### 입력문
su1, su2 = map(int, input("숫자 = ").split())

### 처리문

### 출력문
print(f"{su1} + {su2} = {su1 + su2}")

숫자 = 10 20
10 + 20 = 30

### 성적처리 프로그램 1단계

국어, 영어, 수학점수를 입력받아 총점과 평균을 출력하는 프로그램을 구현하시오.
단, 평균은 소수점이하 둘째자리까지 표현할 것

In [ ]:
# 입력형식
## 국어 = 
## 영어 = 
## 수학 = 

# 출력형식
## 총점 : xx점, 평균 : xx,xx점

In [67]:
# 입력형식
ko = int(input("국어 = "))
eng = int(input("영어 = "))
math = int(input("수학 = "))

tot = ko + eng + math
avg = tot / 3

# 출력형식
print("총점 : {0}점, 평균 : {1:.2f}점".format(tot, avg))

국어 = 90
영어 = 88
수학 = 72
총점 : 250점, 평균 : 83.33점

In [69]:
ko, eng, math = map(int, input().split())

tot = ko + eng + math
avg = tot / 3

print(f"총점 : {tot}점, 평균 : {avg:.2f}점")

90 88 72
총점 : 250점, 평균 : 83.33점