# 파이썬 제어문

## 조건문 or 선택문 or 비교/판단문
1.조건문 or 선택문 or 비교/판단문  
    - 주어진 조건에 따라 실행여부를 판단하는 문장  
    - 반드시 조건식은 그 결과가 참 또는 거짓으로 판정이 되어야 한다.  
    - 논리연산자와 관계연산자를 사용한다.  
    
    1) if문 : 단순 if문, 조건이 참일때만 문장을 제어할 때 사용하는 제어문  
    
    2) elif ~ else문 : 다중 if문, 여러개의 조건을 이용해서 문장을 제어할 때 사용  
    
    3) (switch문)  
<br>
2. 반복문
    - 주어진 조건 또는 횟수에 의해 반복처리하는 문장
    - 동일하거나 일정한 규칙을 가지고 있는 문장
    
    1) for문 : 반복할 횟수가 명확할 때 사용하는 반복문
    
    2) while문 : 사용자에 의해 반복을 제어할 때 사용하는 반복문

### 단순 if문

if 조건식 :<br>
&nbsp;&nbsp;    조건이 참일 때 실행할 문장

In [ ]:
color = input('좋아하는 색상?')

if color == 'blue' :
    print('me too')
    
print('The end!')

### if ~ else문

if 조건식 :<br>
&nbsp;&nbsp;    주어진 조건식이 참일 때 실행할 문장  
else : <br>
&nbsp;&nbsp;    주어진 조건식이 거짓일 때 실행할 문장

In [ ]:
# 하나의 숫자를 입력받아 짝수인지 홀수인지 판정하여 출력하는 프로그램

## 입력문
num = int(input('숫자 = '))

## 처리문

## 출력문
# if num % 2 == 0 :
#     pass  # 나중에 작성
# else :
#     pass

if num % 2 == 0 :
    print('even')
else :
    print('odd')

print('The end')

### 다중 if문 : elif ~ else문

if 조건식1 :  
&nbsp;&nbsp;    조건식1이 참일 때 실행할 문장  
elif 조건식 2 :  
&nbsp;&nbsp;    조건식2가 참일 때 실행할 문장  
else :  
&nbsp;&nbsp;     주어진 모든 조건식이 거짓일 때 실행할 문장

In [ ]:
# 숫자를 입력받아 음수인지 양수인지 판정하는 프로그램을 구현하시오.

num = int(input("숫자 = "))

if num > 0 :
    print('positive')
elif num == 0 :
    print('zero')
else :  # == 0 or < 0
    print('negative')

### 성적처리 프로그램 2단계

- 처리조건
    1. 국어, 영어, 수학점수를 입력받아 처리한다.
    2. 총점과 평균 그리고 학점을 계산하여 출력한다.
    3. 학점은 평균이 90점 이상이면 'A학점', 80점 이상이면 'B학점', 70점 이상이면 'C학점'….

In [ ]:
ko = int(input("국어 : "))
eng = int(input("영어 : "))
math = int(input("수학 : "))

tot = ko + eng + math
avg = tot / 3

print(f"총점 : {tot}, 평균 : {avg}")

if avg >= 90 :
    print('A학점')
elif avg >= 80 :
    print('B학점')
elif avg >= 70 :
    print('C학점')
elif avg >= 60 :
    print('D학점')
else :
    print('F학점')

In [ ]:
# kor, eng, math = map(int, input().split())
## 입력문
kor = int(input("국어 = "))
eng = int(input("영어 = "))
math = int(input("수학 = "))

## 처리문
tot = kor + eng + math
avg = tot / 3

if avg >= 90 :
    grade = 'A'
elif avg >= 80 :
    grade = 'B'
elif avg >= 70 :
    grade = 'C'
elif avg >= 60 :
    grade = 'D'
else :
    grade = 'F'
    
## 출력문
print(f'총점 : {tot}점, 평균 : {avg:.2f}점, 학점 : {grade}학점')

### 세 개의 정수를 입력받아 가장 큰 수와 작은 수를 출력하는 프로그램

- 세 개의 정수를 입력받는다.
- 입력받은 숫자 중 큰 수와 작은 수를 판정하여 출력한다.
- 함수 사용 불가
- 출력형식에 맞게 구현할 것  
  가장 큰 수 >= 중간 수 >= 작은 수

In [ ]:
su1, su2, su3 = map(int, input().split())

In [ ]:
# 입력문
first, second, third = map(int, input().split())

# 처리문
## first라는 변수에 가장 큰 수가 들어오지 않는 경우 또는 first가 가장 큰 수가 되는 경우
if second >= first and second >= third :
    first, second = second, first
elif third >= first and third >= second :
    first, third = third, first
    
## 두번째와 세번째 숫자 비교
if third >= second :
    second, third = third, second

# 출력문
print(f'{first} >= {second} >= {third}')

### 계산기 프로그램

- 두 개의 숫자와 하나의 연산자를 입력받아 계산을 수행한 후 결과를 출력하는 프로그램
- 주어진 입력 및 출력 형식에 맞게 프로그램을 구현할 것.
- 입력형식
  첫번째 수 =  
  연산자(+, -, *, /) =   
  두번째 수 =  
<br>
- 예시
  첫번째 수 = 10  
  연산자(+, -, *, /) = /  
  두번째 수 = 2  
  
  10 / 2 = 5

In [ ]:
num1 = int(input("첫번째 수 = "))
oper = input("연산자(+, -, *, /) = ")
num2 = int(input("두번째 수 ="))

if oper == '+' :
    print(num1, oper, num2, "=", num1+num2)
elif oper == '-' :
    print(num1, oper, num2, "=", num1-num2)
elif oper == '*' :
    print(num1, oper, num2, "=", num1*num2)
else :
    print(num1, oper, num2, "=", num1/num2)

In [ ]:
# 입력문
first = int(input("첫번째 수 = "))
op = input("연산자(+, -, *, /) = ")
second = int(input("두번째 수 = "))

# 처리문
## 문자열 "", 문자 ''
if op == '+' :
    result = first + second
elif op == '-' :
    result = first - second
elif op == '*' :
    result = first * second
else :
    result = first / second

# 출력문
print(f'{first} {op} {second} = {result}')

In [ ]:
string = input('식으로 입력하세요 : ').split()

# 첫번째 수 : string[0]
# 연산자 : string[1]
# 두번째수 : string[2]

if string[1] == '+' :
    print(string[0] + " " + string[1] + " = " + (int(string[0] + int(string[2]))))

print(string)

In [ ]:
k = '+'
print("%d" % k)

In [ ]:
ord('+')

In [ ]:
ord('A')

## 반복문

- 동일한 문장
- 유사한 문장(동일한 행위를 하되 일정한 규칙을 가지고 있는 문장)

### for문

for 개별변수 in 집합변수 :  
&nbsp;&nbsp;&nbsp;    반복수행할 문장

In [ ]:
# 동일한 문장
print('hi')

In [ ]:
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print("-" * 50)
range(5)  # 0, 1, 2, 3, 4

# for 개별변수 in 집합변수(컨테이너 객체) :
    # 반복할 문장
for i in range(5) :
    print('hi')

In [ ]:
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')

print("=" * 50)

for i in range(10) :
    print('hi')

In [ ]:
for _ in range(10) :
    print('hi')

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

In [ ]:
for i in range(1, 6) :
    print(i)

In [ ]:
for _ in range(1, 11) :
    print(_)

###  while문

while 조건식 :  
&nbsp;&nbsp;&nbsp;    반복수행할 문장

In [ ]:
i = 0  # i값이 변하지 않기때문에 무한 실행
while i < 5 :
    print('Hi')
    i += 1  # i = i + 1, 조건을 제어하는 문장

In [ ]:
i = 0 
while i < 5 :
    i += 1
    print(i)

In [ ]:
i = 0 
while True :  # 무한Loop
    i += 1
    print(i)
    if i == 5 : break

In [ ]:
# 알파벳을 입력받아 출력하는 작업을 수행한다. 단, 입력받은 알파벳이 q이면 반복을 종료한다.

while True :
    ch = input('종료(q) = ')
    if ch == 'q' : break
    print(ch)

### 1부터 10까지의 자연수의 합을 계산하여 출력하는 프로그램을 구현하시오.

In [ ]:
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 =
tot = 0  # 누적변수(값을 계속 담아서 처리하는 수)는 초기화를 수행한다.

for i in range(1, 11) :
    tot += i
print("tot = ", tot)

In [ ]:
for i in range(1, 11) :
    tot += i
    print("tot = ", tot)

In [ ]:
tot = 0
i = 0

while i < 10 :
    i += 1
    tot += i
    
print("tot = ", tot)

### 단을 입력받아 해당 단의 구구단을 출력하는 프로그램을 구현하시오.

In [ ]:
# 입력문
dan = int(input('단 = '))

# 처리문 & 출력문
for i in range(1, 10) :
    print('{0} x {1} = {2}'.format(dan, i, dan*i))

In [ ]:
while True :
    # 입력문
    dan = int(input('(종료:0)단 = '))

    if dan == 0 : break
        
    # 처리문 & 출력문
    for i in range(1, 10) :
        print('{0} x {1} = {2}'.format(dan, i, dan*i))

### 구구단을 출력하는 프로그램을 구현하시오.

for 개별변수1 in 집합변수1 :  
&nbsp;&nbsp;&nbsp;    반복 문장1  
&nbsp;&nbsp;&nbsp;    for 개별변수2 in 집합변수2 :  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        반복 문장2

In [ ]:
for dan in range(2, 10) :
    print("==={0}단===".format(dan))  # 8번 반복
    
    for i in range(1, 10) :
        print('{0} x {1} = {2}'.format(dan, i, dan*i))  # 8 * 9 = 72번 반복
        
    print()  # 개행 = 줄바꿈

### 멀티 프로그램을 구현하시오.

1. 처리조건
    - 주어진 입출력 형식에 맞게 프로그램을 구현하시오.
    - 사용자에 의해 처리할 작업을 선택할 수 있도록 구현하시오.
    - 사용자가 원하면 언제든지 프로그램을 종료할 수 있도록 구현하시오.
    - 기타 조건은 주어진 입출력 형식에 맞게 구현하시오.


2. 입력형식
<pre>
    == 멀티 프로그램 ==
    1. 수 나열
    2. 계산기 프로그램
    3. 작업종료
    ===================
    선택 = 
</pre>


3. 기능 설명
    - 수 나열은 세개의 정수를 입력받아 큰 순서대로 출력하는 프로그램
    - 계산기는 두개의 정수와 하나의 연산자를 입력받아 계산 결과를 출력하는 프로그램
    - 작업종료를 선택하지 않으면 프로그램을 무한루프로 동작되도록 구현

In [6]:
while True :
    print()
    # 메뉴 출력
    print("== 멀티 프로그램 ==")
    print("1. 수 나열")
    print("2. 계산기")
    print("3. 작업 종료")
    print("=" * 17)
    ch = int(input('선택 = '))
    
    # 선택에 따른 로직 구현
    if ch == 1 :
        # 입력문
        first, second, third = map(int, input().split())

        # 처리문
        ## first라는 변수에 가장 큰 수가 들어오지 않는 경우 또는 first가 가장 큰 수가 되는 경우
        if second >= first and second >= third :
            first, second = second, first
        elif third >= first and third >= second :
            first, third = third, first

        ## 두번째와 세번째 숫자 비교
        if third >= second :
            second, third = third, second

        # 출력문
        print(f'{first} >= {second} >= {third}')
    
    elif ch == 2 :
        # 입력문
        first = int(input("첫번째 수 = "))
        op = input("연산자(+, -, *, /) = ")
        second = int(input("두번째 수 = "))

        # 처리문
        ## 문자열 "", 문자 ''
        if op == '+' :
            result = first + second
        elif op == '-' :
            result = first - second
        elif op == '*' :
            result = first * second
        else :
            result = first / second

        # 출력문
        print(f'{first} {op} {second} = {result}')
    
    elif ch == 3 :
        break
    else :
        print("선택이 올바르지 않습니다.")
    
print("프로그램을 종료합니다.")

== 멀티 프로그램 ==
1. 수 나열
2. 계산기
3. 작업 종료
=================
선택 = 3
프로그램을 종료합니다.

## 리스트, 튜플, 문자열 등 iterable한 객체 이용한 제어문 처리

In [4]:
a = [2, 1, 5, 3, 4]
print(a)

[2, 1, 5, 3, 4]

In [5]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

2
1
5
3
4

In [7]:
# for 개별변수 in 집합변수(컨테이너 객체)
for i in a :
    print(i)

2
1
5
3
4

In [14]:
for i in range(5) :
    print(a[i], end = ' ')

2 1 5 3 4

In [8]:
students = ('John', 'Minsu', 'Gildong', 'Chris')
print(students)

('John', 'Minsu', 'Gildong', 'Chris')

In [10]:
for name in students :
    print(name)

John
Minsu
Gildong
Chris

In [11]:
for k in 'Python' :
    print(k)

P
y
t
h
o
n

## 리스트 내포(List comprehension)

- 파이썬에서는 for문과 if문등 한 줄로 코드를 작성하여 직관적이고 실행속도를 높여주는 기능
- 결과를 다시 리스트에 담아야 하는 상황에 해당 명령을 리스트에 포함시키는 코드 방식
- 기본 형식
  리스트명 = [표현식 for 개별변수 in 집합변수]

In [17]:
a = [1, 2, 3]
b = []

for i in a :
    b.append(i * 2)
    
print(b)

[2, 4, 6]

In [18]:
a = [1, 2, 3]
b = [i * 2 for i in a]
print(b)

[2, 4, 6]

리스트명 = [표현식 for 개별변수 in 집합변수 if 조건문]

In [20]:
a = [3, 7, 9, 10]
b = list()

# 주어진 리스트의 요소의 값이 홀수인 수를 추출하여 100을 곱한 후 b에 담기
for i in a :
    if i % 2 != 0 :
        b.append(i * 100)
        
print(b)

[300, 700, 900]

In [22]:
a = [3, 7, 9, 10]
b = [i * 100 
     for i in a 
     if i % 2 != 0]
print(b)

[300, 700, 900]

## 기타 제어문

- braek문 : 해당 블록에서 벗어나라
- continue문 : 이하 생략

In [26]:
# 1부터 100 사이의 자연수를 출력하는 프로그램
for i in range(1, 101) :
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [30]:
# 1줄에 10개씩만 출력
for i in range(1, 101) :
    if i % 10 == 1 :
        print()  # 개행(줄바꿈)
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [31]:
# 1줄에 10개씩만 출력
for i in range(1, 101) :
    print(i, end = " ")
    if i % 10 == 0 :
        print()  # 개행(줄바꿈)

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [47]:
# 1부터 100사이의 자연수 중 홀수만 추출하시오. 단, 한줄에 5개씩 추출하시오.
for i in range(1, 101) :
    if i % 2 == 0 :
        continue
    elif i % 10 == 1 :
        print()
    print(i, end = " ")

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49
51 53 55 57 59
61 63 65 67 69
71 73 75 77 79
81 83 85 87 89
91 93 95 97 99

In [55]:
# 홀수의 갯수를 누적하기 위한 변수
cnt = 0
for i in range(1, 101) :
    if i % 2 == 0 :  # 입력받은 i가 짝수인경우
        continue  # 이하 생략
        
    else :  # 홀수인 경우
        cnt += 1  # 홀수의 개수를 누적
        print(i, end = " ")
        
        if cnt % 5 == 0: 
            print()

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49
51 53 55 57 59
61 63 65 67 69
71 73 75 77 79
81 83 85 87 89
91 93 95 97 99

# 자료구조와 제어문

In [57]:
a = [(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]
print(a)

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)] <class 'list'>

In [60]:
for i in a :
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [61]:
for i in a :
    print(i[0], i[1])

1 2
3 4
5 6
7 8
9 10

In [62]:
for i in a :
    print(i[0] + i[1])

3
7
11
15
19

In [63]:
for (first, second) in a :
    print("{0} + {1} = {2}".format(first, second, first + second))

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11
7 + 8 = 15
9 + 10 = 19

## 연도를 입력받아 평년인지 윤년인지 판단하여 출력하는 프로그램

- 입력받은 연도가 0이면 작업을 종료할 것
- 윤년은 4년마다 돌아오는데 100으로 나누어 떨어지는 연도는 평년, 하지만 400으로 나누어 떨어지면 윤년

In [65]:
while True :
    year = int(input("연도를 입력하세요(종료:0) = "))
    
    if year == 0 : 
        print("프로그램을 종료합니다.")
        break
        
    elif year % 4 == 0 and year % 100 !=0 or year % 400 == 0 :
        print("{0}년도는 윤년입니다.".format(year))
        
    else :
        print("{0}년도는 평년입니다.".format(year))

연도를 입력하세요(종료:0) = 2953
2953년도는 평년입니다.
연도를 입력하세요(종료:0) = 2000
2000년도는 윤년입니다.
연도를 입력하세요(종료:0) = 0
프로그램을 종료합니다.

## 1부터 100사이의 수 중 소수에 해당하는 숫자를 출력하는 프로그램

- 처리조건 : 한 줄에 10개씩 출력되도록 구현할 것
- 소수(Prime) : 1과 자기자신으로만 나누어 떨어지는 수

In [69]:
num = int(input("수 = "))  # 7
    
ck = 0

for i in range(1, num+1) :  # 1 ~ 7
    if num % i == 0 :
        ck += 1
        
if ck == 2 :
    print('소수이다.')
else :
    print('소수가 아니다.')

수 = 83
소수이다.

In [70]:
for i in range(1, 101) :
    check = 0  # 나누어 떨어지는 수의 개수를 누적할 변수
    
    for j in range(1, i+1) :
        if i % j == 0 :
            check += 1
            
    if check == 2 :
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97